@model FUNewsWebMVC.Models.SystemAccount

<div>
    <h3>Account Detail</h3>
    <dl class="row">
        <dt class="col-sm-3">ID</dt>
        <dd class="col-sm-9">@Model.AccountId</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.AccountName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.AccountEmail</dd>

        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9">@Model.AccountRole</dd>

        <dt class="col-sm-3">News Articles</dt>
        <dd class="col-sm-9">@Model.NewsArticles?.NewsTitle ?? "No articles"</dd>
    </dl>
</div>
